
<!-- include all the html tags before an including the wrapper div tag //-->
<% include partials/html_head %>


<% include partials/main_header %>


<% include partials/main_sidebar %>

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Welcome to the DASH
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<% include partials/main_footer %>


<% include partials/control_sidebar %>

<!-- include all the html tags after an including the wrapper div tag //-->
<% include partials/html_foot %>