<!DOCTYPE html>
<html>
<head>
	<title>Temporary Page list</title>
</head>
<body>

<h1>Temporary Page List</h1>

<ul>
	<li><a href="/template">Template Demo</a></li>
	<li><a href="/logs">Logs</a></li>
	<li><a href="/database/MySQL">MySQL -> Query Single Table (Updated! With Encrypted/decrypted Columns)</a></li>
	<li><a href="/database/MySQL/1t1">MySQL -> Query Table with 1 To 1 Relation</a></li>
	<li><a href="/database/MySQL/1tn">MySQL -> Query Table with 1 To n Relation</a></li>
	<li><a href="/database/MySQL/ntn">MySQL -> Query Table with n To n Relation (Decryption hooks not running on passthrough table)</a></li>
	<li><a href="/encryption/forge-basic">Forge -> Basic Encryption example</a></li>
</ul>

</body>
</html> 