<!DOCTYPE html>
<html>
<head>
	<title>Temporary Page list</title>
</head>
<body>

<h1>Temporary Page List</h1>

<ul>
	<li><a href="/template">Template Demo</a></li>
	<li><a href="/database/MySQL">MySQL get Demo</a></li>
</ul>

</body>
</html>